body {
background-image:  url("http://proof.nationalgeographic.com/files/2013/12/ngm-2013-lions-cboy-nichols.jpg");
background-size: 100%;
background-repeat:no-repeat;
}
h1{
font-family: Century Gothic;
font-size:100px;
color:#9966FF;
}
p{
font-family:Verdana;
font-size:25px;
color: #9966FF;
}
