body {
background-image:  url("http://media.tumblr.com/134c31b7e42d6f787e8aed3fb3df1bba/tumblr_inline_mpd8dudmH01qz4rgp.png");
background-size: 100%;55574356817cc445a072ba4d284c38e1/g9z8ke
background-repeat:no-repeat;
}
h1{
  font-family: Century Gothic;
  font-size:100px;
  text-align: center;
  color:#FFB00F;
  padding-top: 320px;
  padding-bottom: 120px;
}
#nav{
    font-family: Verdana; 
    text-align: center;
    padding:0px;
    }
#nav li{
    float: center;
    display: inline;
    }
a:link, a:visited {
    display:inline-block;
    width:225px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #313131;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    style-type: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    }
a:hover, a:active {
    background-color: #FFB00F;
}