body {
background-image:  url("http://25.media.tumblr.com/tumblr_m7ytjorUJ01rc38tlo1_1280.jpg");
background-size: 100%;55574356817cc445a072ba4d284c38e1/g9z8ke
background-repeat:no-repeat;
}
h1{
  font-family: Century Gothic;
  font-size:100px;
  text-align: center;
  color:#BF5FFF;
  padding-top: 320px;
  padding-bottom: 120px;
}
#nav{
    font-family: Verdana; 
    text-align: center;
    padding:0px;
    }
#nav li{
    float: center;
    display: inline;
    }
a:link, a:visited {
    display:inline-block;
    width:225px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #313131;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    style-type: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    }
a:hover, a:active {
    background-color: #BF5FFF;
}