body {
background-image:  url("http://proof.nationalgeographic.com/files/2013/08/MM7947_120219_104128ML.jpg");
background-size: 100%;
background-repeat:no-repeat;
}
h1{
font-family: Century Gothic;
font-size:100px;
color:#9966FF;
}